In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
from sklearn.datasets import load_diabetes

In [2]:
data=load_diabetes()

In [3]:
dir(data)

['DESCR',
 'data',
 'data_filename',
 'data_module',
 'feature_names',
 'frame',
 'target',
 'target_filename']

In [4]:
df=data.data

In [5]:
df=pd.DataFrame(df,columns=data.feature_names)
df.head()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019907,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068332,-0.092204
2,0.085299,0.050680,0.044451,-0.005670,-0.045599,-0.034194,-0.032356,-0.002592,0.002861,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022688,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031988,-0.046641

In [6]:
df.shape

(442, 10)

In [7]:
y=data.target
y=pd.DataFrame(y,columns=['Sugar'])
y.head()

   Sugar
0  151.0
1   75.0
2  141.0
3  206.0
4  135.0

In [8]:
type(data.feature_names[0])

str

In [9]:
mp={}

for i in data.feature_names:
    vr=np.var(df[i])
    mp[i]=vr

mp

{'age': 0.002262443438914029,
 'sex': 0.0022624434389140317,
 'bmi': 0.0022624434389140265,
 'bp': 0.002262443438914025,
 's1': 0.0022624434389140243,
 's2': 0.002262443438914029,
 's3': 0.002262443438914025,
 's4': 0.002262443438914027,
 's5': 0.0022624434389140265,
 's6': 0.002262443438914029}

In [10]:
from sklearn.feature_selection import VarianceThreshold

In [11]:
p=0

In [12]:
opt=VarianceThreshold(0.002)

In [13]:
df_=opt.fit_transform(df)

In [14]:
df_.shape

(442, 10)